#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

#switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #00a2ca;
  border-radius: 100px;
  position: relative;
}

#switch-label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #switch-label {
  background: #054172;
}

input:checked + #switch-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#switch-label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* main */
html {
  --primary-color: #00a2ca;
  --background-color: #f5f5f5;
  --body-font-color: #000;
  --card-background-color: #fff;
  --headings-color: #000;
  --table-border-color: #e2e2e2;
  --table-row-bg-color: #f8f7f7;
  --btn-background-color: #f8f7f7;
  --main-btn: #00afdb;
  --main-btn-text: #fff;
  --success-btn: #00c851;
  --danger-btn: #ff4444;
  --label-text: #646464;
  --option-btn: #00afdb;
  --credit-btn-color: #fff;
  --drop-list-color: #fff;
  --user-name: #000;
  --btn-third-color: #fff;
  --input-background: #fbfbfb;
  --input-boarder: #cccccc;
}

html[data-theme="dark"] {
  --primary-color: #fff;
  --background-color: #05121b;
  --body-font-color: #fff;
  --card-background-color: #0f1b24;
  --btn-background-color: #23303a;
  --headings-color: #678391;
  --table-border-color: #39464b;
  --table-row-bg-color: #0f1c25;
  --main-btn: #0297bd;
  --main-btn-text: #fff;
  /* --main-btn: #23303a;
    --main-btn-text: #708189; */
  --label-text: #708189;
  --option-btn: #00db6e;
  --credit-btn-color: #00db6e;
  --drop-list-color: #05121b;
  --user-name: #00afdb;
  --btn-third-color: #fff;
}

body {
  color: var(--body-font-color) !important;
  font-size: 13px !important;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none !important; /*IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

.trouble {
  color: var(--headings-color) !important;
}

.green-blue {
  color: var(--user-name) !important;
}

.blue {
  color: #00a2ca !important;
}

.navbar {
  background-color: var(--background-color) !important;
}

.dropdown-menu {
  background-color: var(--drop-list-color) !important;
}

.dropdown-menu > a:hover,
.dropdown-menu > a:focus {
  background-color: var(--card-background-color);
}

.navbar ul li a {
  color: #000 !important;
}

.navbar ul li a span {
  color: #00db6e !important;
}

.navbar a {
  color: var(--primary-color) !important;
}

#navbar-btn-credit {
  background-color: var(--main-btn) !important;
  color: #fff !important;
}

#homeIcon {
  margin-bottom: -8px !important;
  margin-right: 3px !important;
}
.icon {
  margin-bottom: -8px !important;
  margin-right: 3px !important;
}
.svg-icon {
  display: inline-flex !important;
  align-self: center !important;
}
.svg-icon.svg-baseline svg {
  position: relative;
}

.grey-text {
  color: #353434;
}

.greyBackground {
  background-color: var(--background-color) !important;
}

/* #canvas-options {
    background-color: #0060b9 !important;
} */

/* #canvas {
    height: 65vh;
} */

.table-headings {
  color: var(--primary-color) !important;
}

.scores {
  color: #00db6e !important;
}

.options-svg5 {
  color: #ff4857;
}
.options-svg4 {
  color: #cc00b1;
}
.options-svg3 {
  color: #ff9900;
}
.options-svg2 {
  color: #00c3ff;
}
.options-svg1 {
  color: #00db6e;
}

.table-row-color {
  background-color: var(--table-row-bg-color) !important;
}

.card {
  background-color: var(--card-background-color) !important;
}

.modal-content {
  background-color: var(--card-background-color) !important;
}
.table th {
  color: var(--headings-color) !important;
}

.table,
tr,
th,
td {
  border-color: var(--table-border-color) !important;
}
.table td {
  color: var(--headings-color) !important;
}

.greyBackground.btn {
  background-color: var(--btn-background-color) !important;
  border: var(--btn-background-color) !important;
  padding: 8px 20px;
  color: var(--headings-color) !important;
}

.greyBackground .main-btn {
  background-color: var(--main-btn) !important;
  color: var(--main-btn-text) !important;
}

.greyBackground .main-btn:hover {
  opacity: 0.85 !important;
}

.greyBackground input {
  background-color: var(--btn-background-color) !important;
  border-color: var(--btn-background-color) !important;
  color: var(--body-font-color) !important;
}

.greyBackground label {
  color: var(--label-text) !important;
}

#nav-link {
  color: var(--headings-color) !important;
}

#navbarDropdownMenuLink svg {
  color: var(--option-btn) !important;
}

#navbar-btn-credit {
  color: var(--credit-btn-color) !important;
}

.greyBackground textarea {
  background-color: var(--input-background) !important;
  border-color: var(--input-boarder) !important;
  border-radius: 4px !important;
  color: var(--body-font-color) !important;
  font-size: 1.2em !important;
  min-height: 80px !important;
  resize: none !important;
}

.greyBackground textarea::-webkit-scrollbar {
  width: 0.4em;
}

.greyBackground textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.greyBackground textarea::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  background-color: var(--primary-color);
  outline: 1px solid slategrey;
}

/* button to add Nodes and Processes */

.greyBackground .btn-outline-danger,
.greyBackground .add-shape,
.greyBackground .main-btn {
  border: none !important;
  outline: none !important;
}

.add {
  font-size: 12px !important;
  background-color: var(--main-btn) !important;
  color: var(--main-btn-text) !important;
  border: none !important;
}

.add:hover {
  opacity: 0.9 !important;
}

.secondary-btn {
  background-color: var(--table-border-color) !important;
  color: var(--body-font-color) !important;
  border: none !important;
}

.secondary-btn:hover {
  opacity: 0.85 !important;
}

.main-boarder-btn {
  border: 2px solid;
  background-color: white;
  color: var(--main-btn);
  padding: 8px 8px;
  font-size: 16px;
  border-color: var(--main-btn);
}

.main-boarder-btn:hover {
  background-color: var(--main-btn);
  color: white;
  text-decoration: none;
}
.main-boarder-btn:focus {
  border-color: lightskyblue !important;
  outline: lightskyblue !important;
}

.main-boarder-btn:disabled {
  border-color: darkgray;
  background-color: lightgray;
  color: lightslategray;
  text-decoration: none;
}

.primary-btn {
  background-color: var(--main-btn) !important;
  color: var(--main-btn-text) !important;
  border: none !important;
}

.primary-btn:hover {
  opacity: 0.85 !important;
}

.processes_badge {
  background-color: var(--btn-third-color) !important;
  color: #000 !important;
}

.models-updated-thead {
  background-color: var(--primary-color);
}

.models-updated-thead tr th {
  color: #fff !important;
}
.header-image {
  background-image: url("https://via.placeholder.com/200x200?text=Header+Image") -71px
    0;
}

.success-btn {
  background-color: var(--success-btn) !important;
  color: var(--main-btn-text) !important;
}

.success-btn:hover {
  opacity: 0.85 !important;
}

.danger-btn {
  background-color: var(--danger-btn) !important;
  color: var(--main-btn-text) !important;
}

.danger-btn:hover {
  opacity: 0.85 !important;
}

.greyBackground input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
  background-color: var(--input-background) !important;
  border: 1px solid var(--input-boarder) !important;
  border-radius: 4px !important;
}
