
  @import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

  body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #00afdb;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
  }

  .entry-form h2 {
    color: #ffffff;
    margin: 0;
  }

  .entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
  }

  .entry-form .submit-btn {
    background: #00afdb;
    color: #ffffff;
    border-radius: 50px;
    border: 0;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
  }

  .entry-form .submit-btn:hover {
    background: #00db6e;
  }

  section {
    position: relative;
    padding: 60px 0;
  }

  #team,
  #testimonial {
    background: #f9f9f9;
  }

  #team, 
  #testimonial {
    text-align: center;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
  }

  .section-btn:hover {
    background: #ffffff;
    border-color: transparent;
  }


  /* Nav */
  .navbar-header.col {
      padding: 0 !important;
  }
  .navbar {		
      background: #fff;
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: 1px solid #d6d6d6;
      box-shadow: 0 0 4px rgba(0,0,0,.1);
      position: fixed;
      z-index: 9999;
      width: 100vw;
  }
  .nav-link img {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      margin: -8px 0;
      float: left;
      margin-right: 10px;
  }
  .navbar .navbar-brand {
      color: #555;
      padding-left: 0;
      padding-right: 50px;
      font-family: 'Merienda One', sans-serif;
  }
  .navbar .navbar-brand i {
      font-size: 20px;
      margin-right: 5px;
  }
  .search-box {
      position: relative;
  }	
  .search-box input {
      box-shadow: none;
      padding-right: 35px;
      border-radius: 3px !important;
  }
  .search-box .input-group-addon {
      min-width: 35px;
      border: none;
      background: transparent;
      position: absolute;
      right: 0;
      z-index: 9;
      padding: 7px;
      height: 100%;
  }
  .search-box i {
      color: #a0a5b1;
      font-size: 19px;
  }
  .navbar .nav-item i {
      font-size: 18px;
  }
  .navbar .dropdown-item i {
      font-size: 16px;
      min-width: 22px;
  }
  .navbar .nav-item.open > a {
      background: none !important;
  }
  .navbar .dropdown-menu {
      border-radius: 1px;
      border-color: #e5e5e5;
      box-shadow: 0 2px 8px rgba(0,0,0,.05);
  }
  .navbar .dropdown-menu a {
      color: #777;
      padding: 8px 20px;
      line-height: normal;
  }
  .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
      color: #333;
  }	
  .navbar .dropdown-item .material-icons {
      font-size: 21px;
      line-height: 16px;
      vertical-align: middle;
      margin-top: -2px;
  }
  .navbar .badge {
      color: #fff;
      background: #f44336;
      font-size: 11px;
      border-radius: 20px;
      position: absolute;
      min-width: 10px;
      padding: 4px 6px 0;
      min-height: 18px;
      top: 5px;
  }
  .navbar a.notifications, .navbar a.messages {
      position: relative;
      margin-right: 10px;
  }
  .navbar a.messages {
      margin-right: 20px;
  }
  .navbar a.notifications .badge {
      margin-left: -8px;
  }
  .navbar a.messages .badge {
      margin-left: -4px;
  }	
  .navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
      background: transparent !important;
  }
  @media (min-width: 1200px){
      .form-inline .input-group {
          width: 300px;
          margin-left: 30px;
      }
  }
  @media (max-width: 1199px){
      .form-inline {
          display: block;
          margin-bottom: 10px;
      }
      .input-group {
          width: 100%;
      }
  }



    
  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  .feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 3em 3em;
    transition: box-shadow 0.1s ease-in-out;
  }

  .feature-thumb:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
  }

  .feature-thumb span, #empower span {
    background: #00afdb;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .feature-thumb h3 {
    margin: 10px 0;
  }

  .feature-thumb p {
    text-align: justify;
  }

  /*---------------------------------------
      Empower              
  -----------------------------------------*/
  #empower * {
    color: #fff;
  }
  
  #empower::before {    
    content: "";
    background: url(../images/empower-img.jpg) rgba(0, 0, 0, 0.7) center center/cover no-repeat; 
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-blend-mode: overlay;
}


  #empower h2 {
    color: #00afdb;
  }

  #empower span {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
  }

  #empower h5 {
    margin-bottom: 30px;
    text-align: center;
  }

  .empower-features p {
    margin-left: 36%;
    font-size: 16px;
    font-weight: 700;
  }

  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    padding-top: 140px;
  }

  #about::before {    
    content: "";
    background: url(../images/showcase5.jpg) center center/cover no-repeat;
    /* transform: rotate(180deg); */
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  #about figcaption {
    position: relative;
    display: block;
  }

  #about .figText {
    position: relative;
    z-index: 5 !important;
  }

  #about .liftupText {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: -20px;
    background-color: #ffffffde;
    z-index: 1 !important;
  }

  #about figure {
    display: inline-block;
    vertical-align: top;
  }

  #about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
  }

  #about figure span i {
    background: #00afdb;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }


  .about-icons {
    color: #00afdb !important;
  }
  
  #about figcaption p {
    text-align: justify;
    color: #2b2b2b;
  }

  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial .item {
    background: #ffffff;
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
  }

  #courses .col-md-4,
  #testimonial .col-md-4 {
    display: block;
    width: 100%;
  }

  #testimonial .item > p {
    font-size: 16px;
    line-height: 26px;
  }

  .tst-rating {
    margin-bottom: 15px;
  }

  .tst-rating .fa {
    color: #3f51b5;
  }

  .tst-image,
  .tst-author {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: left;
  }

  .tst-image img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    margin-right: 15px;
  }

  .tst-author h4 {
    margin: 0;
  }

  .tst-author span {
    color: #808080;
    font-size: 14px;
  }

  /*---------------------------------------
      Corporate              
  -----------------------------------------*/
  #corporate * {
    color: #fff;
  }
  
  #corporate::before {    
    content: "";
    background: url(../images/corporate.jpg) rgba(0, 0, 0, 0.7) bottom center/cover no-repeat; 
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    background-blend-mode: overlay;
}


  #corporate h2 {
    color: #00afdb;
  }

  #corporate span {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
  }

  #corporate h5 {
    margin-bottom: 30px;
    text-align: center;
  }

  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    background: #252020;
    padding: 120px 0;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #fff;
  }

  footer strong {
    color: #fff;
  }

  footer address p {
    margin-bottom: 0;
  }

  footer .social-icon {
    margin-top: 25px;
  }

  .footer-info {
    margin-right: 2em;
  }

  .footer-info h2 {
    color: #00afdb;
    padding: 0;
  }

  .footer_menu h2 {
    margin-top: 2em;
  }

  .footer_menu ul {
    margin: 0;
    padding: 0;
  }

  .footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }

  .newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }

  .newsletter-form input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }

  .newsletter-form input[type="submit"]:hover {
    background: #00afdb;
    border-color: transparent;
  }

  .newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #00afdb;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #00afdb;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }

  @media only screen and (max-width: 992px) {
    section,
    footer {
      padding: 60px 0;
    }

    .home-slider .item {
      background-position: center center;
    }

    .feature-thumb,
    .about-info,
    .team-thumb,
    .footer-info {
      margin-bottom: 50px;
    }

    .contact-image {
      margin-top: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }

    .empower-features p {
      margin-left: 30%;
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
      position: fixed;
      width: 100vh;
    }

    .custom-navbar .navbar-brand,
    .custom-navbar .nav li a {
      line-height: normal;
    }

    .custom-navbar .nav li a {
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .footer-info {
      margin-right: 0;
    }

    .footer-info.newsletter-form {
      margin-bottom: 0;
    }

    .entry-form {
      display: block;
      margin: 0 auto;
    }

    .empower-features p {
      margin-left: 20%;
      font-size: 14px;
    }
  }


  @media only screen and (max-width: 580px) {
    h2 {
      font-size: 1.8em;
    }

    #testimonial .item {
      padding: 2em;
    }

    .contact-image {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 2em;
    }

    #home h3 {
      font-size: 14px;
    }

    .entry-form {
      border-radius: 0;
      padding: 2em;
      max-width: 100%;
      max-height: 100%;
      width: inherit;
      height: inherit;
    }

    .empower-features p {
      margin-left: 16%;
      font-size: 12px;
    }
  }
  