{% extends 'base.html' %}
{% block title %}
    <title>Counter</title>
{% endblock title %}

{% block content %}
    <div class="mt-5 pt-5">

        <div class="row justify-content-center align-items-center" style="height: 20rem;">
            <div id="count" class="display-1">00</div>

        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <button id='hit' class="btn btn-block btn-primary">Hit!</button>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $.getJSON("{{ get_url }}", function (response) {
                $("#count").text(response.value);
            });

            $("#hit").click(function () {
                $("#count").fadeOut(function () {
                    $.getJSON("{{ hit_url }}", function (response) {
                        $("#count").text(response.value).fadeIn();
                    });
                })
            })
        });
    </script>
{% endblock content %}